<% title t('home.inactive_sign_up.page_title') %>
<div class="container-parent-wrapper">
  <div class="message-wrapper">
    <header class="site-header" id="header">
      <h1 class="site-header__title" data-lead-id="site-header-title"><%= t('home.inactive_sign_up.thank_you_message') %></h1>
    </header>

    <div class="main-content">
      <img src="https://app-data-vault.s3.us-west-2.amazonaws.com/img/step-1-two-color.png">
      <p class="main-content__body" data-lead-id="main-content-body"><%= t('home.inactive_sign_up.registration_complete_message') %></p>
    </div>
  </div>
</div>