<% title t('posts.edit.edit_comment_title') %>
<div class="bd-dashed" id="article-box">
  <div id="article-form-box">
    <h1><%= t('posts.edit.edit_comment_title') %></h1>
    <%= render "form" %>
    <%= link_to t('posts.edit.edit_comment_cancel_link_text'), [@course] %>
  </div>
</div>
