// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chapter-button-links {
    margin-bottom: 15px;
}

.curriculum-list-box a {
    color: #743089 !important;
}

.curriculum-list-box a:hover {
    color: #b53bda !important;
}