<p><%= @resource.email %>!</p>

<p><%= t('devise.mailer.unlock_1') %></p>

<p><%= t('devise.mailer.unlock_2') %></p>

<p><%= link_to t('devise.mailer.unlock_3'), unlock_url(@resource, unlock_token: @token) %></p>
